<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body style="background-color: white">
    <div class="container" >
      <h2><font style="font-size: xxx-large;font-family: system-ui;font-style: oblique;"><b><center><p style="color:red">NETFLIX</p></center></b></font></h2>
        <div class="row">
          <div class="col-md-3 p-2" style="float: left;margin: 2rem;">
                <div class="card p-3" style="width: 19rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRftvnkcocPG2mU2KqQk0UcK8FCXRIwYNqBDg&usqp=CAU" style="width:19rem; height: 11rem;">
                    <div class="card-body">
                      <h3 class="card-title"><a href="https://www.netflix.com/in/title/80192098" style="text-decoration: none;"><u> Money Heist</u></h3></a>
                      <p class="card-text"> Money Heist (Spanish: La casa de papel, "The House of Paper") is a Spanish heist crime drama television series created by Álex Pina. The series traces two long-prepared heists led by the Professor (Álvaro Morte), one on the Royal Mint of Spain, and one on the Bank of Spain.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 p-2" style="float: left;margin: 2rem;">
                <div class="card p-3" style="width: 19rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc2CQ4JE9nRprsZni07askXdkZg9vrCDQvTg&usqp=CAU"  
                    style="width:19rem; height: 11rem;">
                    <div class="card-body">
                      <h3 class="card-title"><a href="https://www.netflix.com/in/title/80100172" ><u> Dark</u></h3></a>
                      <p class="card-text">Dark is a German science fiction thriller streaming television series co-created by Baran bo Odar and Jantje Friese.It ran for three seasons from 2017 to 2020. In the aftermath of a child's disappearance.Dark follows characters from the fictional German town of Winden as they pursue the truth. </p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 p-2" style="float: left;margin: 2rem;">
                <div class="card p-3" style="width: 19rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUP3BDmlj-P42qftSOx3ZbvuCujIWmyEjNWg&usqp=CAU" style="width:19rem; height: 11rem;">
                    <div class="card-body">
                      <h3 class="card-title"><a href="https://www.netflix.com/in/title/80057281"><u> Stranger Things</u></h3></a> 
                      <p class="card-text">Stranger Things is an American science fiction horror mystery-thriller streaming television series created by  the Duffer Brothers and released on Netflix. The brothers serve as showrunners and are executive producers along  with Shawn Levy and Dan Cohen. </p>

                    </div>
                  </div>
            </div>
            <div class="col-md-3 p-2" style="float: left;margin: 2rem;">
              <div class="card p-3" style="width: 19rem;">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYys3MFTlOUtrOZiP5ZuK7peYeuZTcMRiA&usqp=CAU" style="width:19rem; height: 11rem;"">
                  <div class="card-body">
                    <h3 class="card-title"><a href="https://www.netflix.com/in/title/80002479"> peaky blinders</h3></a>
                    <p class="card-text">Peaky Blinders is a British period crime drama television series created by Steven Knight. Set in Birmingham, England, the series follows the exploits of the Shelby crime family in the direct aftermath of the First World War. The fictional family is loosely based on a real urban youth gang of the same name, who were active in the city from the 1890s to the early 20th century. </p>

                  </div>
                </div>
          </div>
         
        </div><br><br><br><br><br>
        

        </div><br><br><br>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="/logout/"><center><button style="background-color: #1877f2; ;height: 42px; width: 12rem;"><b> Logout</b></button></center></a>
            </div>
          </div>
        </div>
        
   
</body>
</html>